<header class="header">
  <div class="logo" [routerLink]="['/home']">
    <img src="assets/logo.png" alt="logo">
    <p class="logo__name">RecipeHub</p>
  </div>

  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>

  <nav class="desktop-nav">
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a [routerLink]="['/favorites']" routerLinkActive="active">Favorites</a>
    <a [routerLink]="['/recipes']" routerLinkActive="active"> Explore Recipes</a>
  </nav>

  <nav class="mobile-nav" [class.open]="isMenuOpen()">
    <button class="menu-close-btn" type="button" (click)="closeMenu()">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <a class="menu-link" [routerLink]="['/home']" routerLinkActive="active" (click)="closeMenu()"><i
        class="fa-regular fa-house"></i> Home</a>
    <a class="menu-link" [routerLink]="['/recipes']" routerLinkActive="active" (click)="closeMenu()"><i
        class="fa-solid fa-magnifying-glass"></i> Explore
      Recipes</a>
    <a class="menu-link" [routerLink]="['/favorites']" routerLinkActive="active" (click)="closeMenu()"><i
        class="fa-regular fa-heart"></i> Favorites</a>

    <button class="menu-link" type="button" (click)="toggleCategories()">
      <div class="menu-label">
        <i class="fa-solid fa-layer-group"></i>
        Categories
      </div>

      <i class="fa-solid fa-chevron-down" [class.open]="isCategoriesOpen()"></i>
    </button>

    @if (isCategoriesOpen()) {
    <div class="submenu--categories">
      @for (cat of categories(); track cat.name) {
      <a [routerLink]="['/recipes/category', cat.type]" routerLinkActive="active" (click)="closeMenu()">
        {{cat.name}}
      </a>
      }
    </div>
    }

    <button class="menu-link" type="button" (click)="toggleCuisines()">
      <div class="menu-label">
        <i class="fa-solid fa-globe"></i> Cuisines
      </div>
      <i class="fa-solid fa-chevron-down" [class.open]="isCuisinesOpen()"></i>
    </button>

    @if (isCuisinesOpen()) {
    <div class="submenu--cuisines">
      @for (cuisine of cuisines(); track cuisine.name) {
      <a [routerLink]="['/recipes/cuisine', cuisine.type]" routerLinkActive="active" (click)="closeMenu()">
        {{cuisine.name}}
      </a>
      }
    </div>
    }
  </nav>

  <button class="menu-btn" type="button" (click)="openMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>

  @if (isMenuOpen()) {
  <div class="overlay" tabindex="0" (click)="closeMenu()" (keydown.enter)="closeMenu()"></div>
  }
</header>


<router-outlet></router-outlet>