@if (totalPages() > 1) {
<div class="pagination">

  @if(currentPage() > 1) {
  <button class="btn-navigation" (click)="prevPage()">
    <i class="fa-solid fa-chevron-left"></i> Prev
  </button>
  }

  @for (page of visiblePages(); track page) {
  <button class="pagination-btn" (click)="goToPage(page)" [class.active]="page === currentPage()">
    {{ page }}
  </button>
  }

  @if(currentPage() !== totalPages()) {
  <button class="btn-navigation" (click)="nextPage()">
    Next <i class="fa-solid fa-chevron-right"></i>
  </button>
  }
</div>
}